* {
  margin: 0;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 29, 42);
}

/* Styling the app */

.chat_title {
  text-align: center;
  font-size: 3rem;
  color: white;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

#chat_container::-webkit-scrollbar {
  display: none;
}

/* chat space */

/* user section */

.wrapper {
  display: flex;
  justify-content: flex-end;
}

.false .chat {
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: fit-content;
}

.false .message {
  flex: 1;
  text-align: right;
  font-size: 1rem;
  color: white;
  background-color: #5436da;
  padding: 1rem 2rem;
  border-radius: 20rem;
  width: fit-content;
  max-width: 70%;
}

/* ai section */

.wrapper.ai {
  display: flex;
  justify-content: flex-start;
}

.chat {
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
}

.message {
  flex: 1;
  text-align: left;
  font-size: 1rem;
  color: white;
  background-color: #054a27;
  padding: 1rem 2rem;
  border-radius: 20rem;
  width: fit-content;
  max-width: 70%;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message::-webkit-scrollbar {
  display: none;
}

/* form section */

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414f;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}
